* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
margin: 2rem;
    width: 100%;
    justify-content: center;
        flex-wrap: wrap;
        display: column ;
        flex-direction: row;
        

}

ul{
    list-style-type: none;
}

li {
    line-height: 2rem;

    

}

li:hover {
    color: purple;
    


}